* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
background-color: #f7f1e7;
color: #2d241d;
}

header {
width: 100%;
height: 100px;
padding: 0 70px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #352a23;
color: white;

}

.name h1 {
font-family: "Dancing Script", cursive;
font-size: 42px;
color: #d4ac5b;
}

.list-items ul {
display: flex;
list-style: none;
gap: 35px;
}

.list-items a {
text-decoration: none;
color: white;
font-size: 17px;
transition: 0.3s;
font-size: 24px;
}

.menu-hero {
min-height: 600px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 70px 100px;
background-size: cover;
background-position: center;
background-image: url("/images/home/background.jpg");
background-position: center;
}

.menu-hero-container {
width: 50%;
}

.menu-hero-container span {
color: #a77a28;
font-size: 15px;
font-weight: bold;
letter-spacing: 4px;
}

.menu-hero-container h1 {
font-family: "Dancing Script", cursive;
font-size: 90px;
line-height: 0.95;
margin: 25px 0;
color: #30251d;
}

.menu-hero-container p {
width: 450px;
font-family: "Dancing Script", cursive;
font-size: 27px;
line-height: 1.4;
}

.hero-image {
width: 45%;
display: flex;
justify-content: center;
}

.hero-image img {
width: 500px;
height: 450px;
object-fit: cover;
border-radius: 250px 250px 30px 30px;
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.coffee {
padding: 100px;
background-image: url("/images/home/background.jpg");
}

.coffee-section {
text-align: center;
margin-bottom: 60px;
}

.coffee-section span {
color: #b0873c;
font-size: 14px;
letter-spacing: 3px;
font-weight: bold;
}

.coffee-section h2 {
font-family: "Dancing Script", cursive;
font-size: 60px;
margin: 10px 0;
}

.coffee-section p {
font-family: "Dancing Script", cursive;
font-size: 24px;
}

.coffee-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 30px;
}

.coffee-card {
background-color: white;
padding-bottom: 25px;
border-radius: 15px;
overflow: hidden;
text-align: center;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
transition: 0.3s;
}

.coffee-card img {
width: 100%;
height: 260px;
object-fit: cover;
}

.coffee-card h3 {
font-size: 22px;
margin-top: 20px;
}
.coffee-card a{
    text-decoration: underline;
    color: #30251d;
}
.coffee-card p {
padding: 10px 20px;
font-family: "Dancing Script", cursive;
font-size: 20px;
color: #6b5b4d;
}

.coffee-card strong {
display: block;
color: #a77a28;
font-size: 20px;
}

.food-section {
background-image: url("/images/home/background.jpg");
background-position: center;
height: 500px;
padding: 20px;
}

.food-heading {
text-align: center;
margin-bottom: 60px;
}

.food-heading span {
color: #b0873c;
font-size: 14px;
letter-spacing: 3px;
font-weight: bold;
}

.food-heading h2 {
font-family: "Dancing Script", cursive;
font-size: 60px;
margin: 10px 0;
}

.food-heading p {
font-family: "Caveat", cursive;
font-size: 24px;
}

.food-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 35px;

}

.food-card {
display: flex;
align-items: center;
background-color: white;

border-radius: 15px;
overflow: hidden;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
transition: 0.3s;
}

.food-card img {
width: 180px;
height: 180px;
object-fit: cover;
}

.food-card div {
padding: 20px;
display: flex;
flex-direction: column;
gap: 10px;
}

.food-card div  button{
height: 30px;
width: 100px;
background-color: #d7a84b;
border-radius: 10px;
border: 1px solid rgb(239, 239, 235);

}

.food-card div  button a{
text-decoration: none;
font-size: 14pxpx;
font-weight: 800; 
color: aliceblue;

}

.food-card h3 {
font-size: 21px;
margin-bottom: 10px;
}

.food-card p {
font-family: "Caveat", cursive;
font-size: 19px;
color: #6b5b4d;
margin-bottom: 10px;
}

.food-card strong {
color: #a77a28;
font-size: 18px;
}

.order-section {
min-height: 550px;
display: flex;
align-items: center;
padding: 80px 100px;
background-image: linear-gradient(rgba(40, 30, 20, 0.55),rgba(40, 30, 20, 0.55));
background-size: cover;
background-position: center;
color: white;
}

.order-container {
max-width: 600px;
}

.order-container span {
color: #e0b85d;
font-size: 14px;
letter-spacing: 3px;
font-weight: bold;
}

.order-container h2 {
font-family: "Dancing Script", cursive;
font-size: 80px;
line-height: 1;
margin: 25px 0;
}

.order-container p {
font-family: "Dancing Script", cursive;
font-size: 27px;
margin-bottom: 30px;
}

.order-container button {
padding: 14px 30px;
border: 1px solid #d7a84b;
border-radius: 30px;
background-color: #d7a84b;
color: white;
font-weight: bold;
cursor: pointer;
transition: 0.3s;
}
.order-container button a {
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    color:whitesmoke;
}



.footer-logo {
font-family: "Dancing Script", cursive;
font-size: clamp(120px, 19vw, 300px);
font-weight: 900;
letter-spacing: -12px;
color: #382d2d;
text-align: center;
white-space: nowrap;
margin-bottom: 20px;
}

.footer-icons ul{
padding-top:20px;
display: flex;
padding-bottom: 40px;
gap: 50px;
padding-left: 60px;
font-size: 30px;
color: rgb(49, 51, 52);
}

.footer-icons ul li{
list-style-type: none;
}

.footer-content {
display: flex;
align-items: center;
flex-direction: row;
}

.footer-content ul {
padding-left: 60px;
}

.footer-content li {
font-size: 15px;
padding-bottom: 10px;
list-style-type: none;
font-weight: 200;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p{
padding-left: 60px;
padding-top: 20px;
padding-bottom: 20px;
}
